* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
body {
	background: #ccc;
}
img {
	width: 100%;
}
.container {
	margin: auto;
	width: 1200px;
}
.news {
	background: #ccc;
	display: flex;
	gap: 120px;
}
.news .big {
	height: 20px;
	margin-bottom: 20px;
	bottom: 20px;
	background: #ccc;
}
.news .big .name {
	font-size: 20px;
	font-weight: 600;
}
.news .old .item {
	display: flex;
	align-items: center;
	gap: 2%;
}
.news .old .item img {
	width: 120px;
	display: flex;
}
.item{
	border-radius: 10cap;
height: 11%
}
