*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #ccc;
}
.container {
  height: 1200px;
  margin: 20px auto;
  margin-left: 200px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;  
 
  }
  li {
    height: auto;
    display: flex;  
  }
  
  li a {
    display: flex;
    padding: 8px;
}
  .a {
    margin-left: 100px;
    height: 100px;
    display: flex;
  }
