@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
body {
	background: #e7e9ec;
}
a {
	color: inherit;
}
img {
	width: 100%;
}
.container {
	margin: auto;
	max-width: 1200px;
}
.header {
	margin: 20px 0;
	padding: 20px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 24px;
}
.logo a {
	display: flex;
	align-items: center;
	justify-content: center;
}
ul.menu {
	display: flex;
	font-weight: 600;
	color: #4b4b4b;
}
ul.menu li a {
	padding: 8px 10px;
}
ul.menu li a:hover {
	color: #007dfc;
}
.main {
	display: flex;
	gap: 20px;
}
.content {
	width: 70%;
}
.posts {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.posts .item {
	width: 48%;
	background: #fff;
	border-radius: 24px;
	overflow: hidden;
}
.posts .item .name {
	margin: 20px;
	font-weight: 600;
	font-size: 18px;
}
.posts .item .desc {
	margin: 0 20px;
}
.posts .item .more {
	width: fit-content;
	padding: 10px 15px;
	margin: 20px;
	background: #4b4b4b;
	color: #fff;
	cursor: pointer;
	border-radius: 12px;
}
.posts .item .more:hover {
	background: #007dfc;
}
.sidebar {
	width: 30%;
}
