.a{
  font-family: "Roboto Mono", monospace;
}
.b {
  font-family: "Road Rage", sans-serif;
}
.c{
   font-family: "Brawler", serif;
}
.d{
font-family: "Tapestry", serif;
}
.e{
 font-family: "Alumni Sans Inline One", sans-serif;
}
.d{
 font-family: "Cormorant Unicase", serif;
}
.e{
 font-family: "Matemasie", sans-serif;
}
.f{
  font-family: "Qwitcher Grypen", cursive;
}
.g{
 font-family: "Bungee Tint", sans-serif;
}
.h{
  font-family: "Edu VIC WA NT Beginner", cursive;
}
.i{
  font-family: "Cormorant Unicase", serif;
}
.v{
     font-family: "Cormorant Unicase", serif
}